# SELF APP
HIREBOX_BACKEND_API_KEY="HB_"

# Hugging Face
HF_TOKEN="hf_"

# Prompt
GENERATE_CV_QUESTION_PROMPT_FILE="generate_cv_questions_prompt.md" # or moussa_generate_cv_questions_prompt.md


# Models
GEMMA_MODEL_PATH="models/google/gemma-4-E2B-it"
