# SELF APP
HIREBOX_ENABLE_API_SECURITY="false"
HIREBOX_API_KEY_PREFIX="HB_"
HIREBOX_ALLOW_API_KEYS="token-dev-1,token-dev-2"
HIREBOX_ALLOW_ORIGINS="72.61.162.43"

# General
INFRASTRUCTURE="local" # or gpuserver or fastapicloud

# Hugging Face
HF_TOKEN="hf_"

# Prompt
GENERATE_CV_QUESTION_PROMPT_FILE="generate_cv_questions_prompt.md" # or moussa_generate_cv_questions_prompt.md


# Models
GEMMA_MODEL_PATH="models/google/gemma-4-E2B-it"

